{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="jumbotron jumbotron-fluid"
         style="background-image: url({% static 'assets/wallpaper.jpg' %});">
        <div class="container"
            style="color: rgb(109, 49, 8);">
            <h1>Pokemon</h1>
            <p style="font-size: 18pt">
                Also known as Pocket Monsters in Japan, Humans, known
                as Pokémon Trainers, catch and train to battle each other for sport. The English slogan for the
                franchise is "Gotta Catch 'Em All". Works within the franchise are set in the Pokémon universe.
            </p>
        </div>
    </div>
    <div class="container">
        
    </div>
{% endblock content %}